# MariaDB database server configuration file.
#
# 중략 #

[mysqld]
#
# * Basic Settings
#
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address            = 127.0.0.1
# 다른 방법
bind-address            = 0.0.0.0